* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
}

.text-wrap {
  background-color: #ddd;
}

.text {
  margin: 0;
}

.blocks {
  border: 1px solid #e8594d;
  padding: 10px;
}

.border-out {
  background-color: #308dc0;
  width: 350px;
  margin: 20px;
  margin-bottom: 40px;
}

.border-in {
  background-color: #ffa500;
}
